# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
appdirs=1.4.3=pypi_0
astroid=2.3.3=pypi_0
ca-certificates=2020.1.1=0
certifi=2020.4.5.1=py38_0
chardet=3.0.4=pypi_0
cycler=0.10.0=pypi_0
decorator=4.4.2=pypi_0
distlib=0.3.0=pypi_0
docker=4.2.0=pypi_0
filelock=3.0.12=pypi_0
idna=2.9=pypi_0
imageio=2.8.0=pypi_0
isort=4.3.21=pypi_0
kiwisolver=1.2.0=pypi_0
lazy-object-proxy=1.4.3=pypi_0
libcxx=4.0.1=hcfea43d_1
libcxxabi=4.0.1=hcfea43d_1
libedit=3.1.20181209=hb402a30_0
libffi=3.2.1=h475c297_4
matplotlib=3.2.1=pypi_0
mccabe=0.6.1=pypi_0
ncurses=6.2=h0a44026_0
networkx=2.4=pypi_0
numpy=1.18.2=pypi_0
opencv-contrib-python=4.2.0.34=pypi_0
opencv-python=4.2.0.34=pypi_0
openssl=1.1.1f=h1de35cc_0
pika=1.1.0=pypi_0
pillow=7.1.1=pypi_0
pip=20.0.2=py38_1
pipenv=2018.11.26=pypi_0
pylint=2.4.4=pypi_0
pyparsing=2.4.7=pypi_0
python=3.8.2=hc70fcce_0
python-dateutil=2.8.1=pypi_0
pywavelets=1.1.1=pypi_0
pyyaml=5.3.1=pypi_0
readline=8.0=h1de35cc_0
requests=2.23.0=pypi_0
scikit-image=0.16.2=pypi_0
scipy=1.4.1=pypi_0
setuptools=46.1.3=py38_0
six=1.14.0=pypi_0
sqlite=3.31.1=ha441bb4_0
tk=8.6.8=ha441bb4_0
urllib3=1.25.8=pypi_0
virtualenv=20.0.17=pypi_0
virtualenv-clone=0.5.4=pypi_0
websocket-client=0.57.0=pypi_0
wheel=0.34.2=py38_0
wrapt=1.11.2=pypi_0
xz=5.2.4=h1de35cc_4
zlib=1.2.11=h1de35cc_3
