[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pika = "*"
opencv-python = "*"
scikit-image = "*"
docker = "*"
pyyaml = "*"
pylint = "*"
opencv-contrib-python = "*"

[requires]
python_version = "3.8"
